body{
    background-color:lightblue;
}
#score
{
    float:left;
}
#timer{
float:right;
}




h1{
    color:rgb(113, 137, 160);
    background-color:rgb(212, 215, 247);

}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px white;}
    to {box-shadow: 1px 1px 38px rgb(121, 131, 117);}

}
